# Config file for EOS runs

[run]
name : EoS_mini
#output_dir : /h/hobnob0/Reionization_models/21cmFAST-ethos-analysis/21cmFAST_notebooks/_cache/big_box/fisher/EoS_mini_kpeak/
output_dir : /home/bkr193_ku_dk/modi_mount/data/21cmFAST_runs/fisher/EoS_mini_kpeak/
#output_dir : /Users/cmason/Documents/Research/21cmFAST/21cmFAST-ethos-analysis/21cmFAST_notebooks/_cache/big_box/fisher/EoS_mini_kpeak/

# redshifts
[redshifts]
min : 5.0
max : 35.0

# UserParam
[user_params]
HII_DIM : 200
BOX_LEN : 400
USE_FFTW_WISDOM : True
USE_INTERPOLATION_TABLES : True
FAST_FCOLL_TABLES : True
USE_RELATIVE_VELOCITIES : True
POWER_SPECTRUM : 5

# AstroParam
# gives best match to Planck tau for smooth-k window function
[astro_params]
ALPHA_ESC: -0.3
F_ESC10 : -1.35
ALPHA_STAR : 0.5
F_STAR10 : -1.25
t_STAR : 0.5
F_STAR7_MINI : -2.5
ALPHA_STAR_MINI : 0.0
F_ESC7_MINI : -1.35
L_X : 40.5
L_X_MINI : 40.5
NU_X_THRESH : 500.0
A_VCB : 1.0
A_LW : 2.0
h_PEAK : 0.
log10_k_PEAK : 10.

# FlagOptions
[flag_options]
INHOMO_RECO : True
USE_MASS_DEPENDENT_ZETA : True
USE_TS_FLUCT : True
USE_MINI_HALOS : True
FIX_VCB_AVG : False
USE_ETHOS : True
FILTER : 2

# Parameters to vary in the Fisher analysis
[vary]
astro_params_vary :
