# Config file for EOS runs - variation

[run]
name : EoS_mini_vary
output_dir : /home/bkr193_ku_dk/modi_mount/data/21cmFAST_runs/fisher/EoS_mini_vary/

# redshifts
[redshifts]
min : 5.0
max : 35.0

# UserParam
[user_params]
HII_DIM : 200
BOX_LEN : 400
USE_FFTW_WISDOM : True
USE_INTERPOLATION_TABLES : True
FAST_FCOLL_TABLES : True
USE_RELATIVE_VELOCITIES : True
POWER_SPECTRUM : 5

# AstroParam
# draw from EOS param ellipses
[astro_params]
F_STAR10 : -1.18
ALPHA_STAR : 0.56
F_ESC10 : -1.43
ALPHA_ESC : -0.33
F_STAR7_MINI : -2.44
ALPHA_STAR_MINI : 0.11
F_ESC7_MINI : -1.25
t_STAR : 0.5
L_X : 40.51
L_X_MINI : 40.51
NU_X_THRESH : 496.29
A_LW : 3.22
A_VCB : 1.0

# FlagOptions
[flag_options]
INHOMO_RECO : True
USE_MASS_DEPENDENT_ZETA : True
USE_TS_FLUCT : True
USE_MINI_HALOS : True
FIX_VCB_AVG : False
USE_ETHOS : False
FILTER : 0

# Parameters to vary in the Fisher analysis
[vary]
astro_params_vary :
