# Config file for ETHOS runs

[run]
name : Park19
output_dir : 21cmFAST_notebooks/_cache/big_box/fisher/Park19/

# UserParam
[user_params]
HII_DIM : 128
BOX_LEN : 250
USE_FFTW_WISDOM : True
USE_INTERPOLATION_TABLES : True
FAST_FCOLL_TABLES : True
USE_RELATIVE_VELOCITIES : True
POWER_SPECTRUM : 5

# AstroParam
# gives best match to Planck tau for smooth-k window function
[astro_params]
ALPHA_ESC: -0.5
F_ESC10 : -1.
ALPHA_STAR : 0.5
F_STAR10 : -1.3
t_STAR : 0.5
M_TURN : 8.7
L_X : 40.5
NU_X_THRESH : 500.0

# FlagOptions
[flag_options]
INHOMO_RECO : True
USE_MASS_DEPENDENT_ZETA : True
USE_TS_FLUCT : True
USE_MINI_HALOS : False
FIX_VCB_AVG : False
USE_ETHOS : False
FILTER : 0

# Parameters for the catalog of detections (assumes same format as source catalog)
[vary]
astro_params_vary :
  ALPHA_STAR
  F_STAR10
  ALPHA_ESC
  F_ESC10
  L_X
  NU_X_THRESH
  t_STAR
  M_TURN
