# Config file for Park+19 runs (compare with 21-cm only MCMC best-fit)

[run]
name : Park19_mcmc
#output_dir : /h/hobnob0/Reionization_models/21cmFAST-ethos-analysis/21cmFAST_notebooks/_cache/big_box/fisher/Park19_mcmc/
#output_dir : /home/bkr193_ku_dk/modi_mount/data/21cmFAST_runs/fisher/Park19_mcmc/
#output_dir :/home/projects/ku_00154/people/chamas/data/21cmFAST_runs/fisher/Park19_mcmc/
output_dir :/Users/cmason/Documents/Research/21cmFAST/21cmFAST-ethos-analysis/21cmFAST_notebooks/_cache/big_box/fisher/Park19_mcmc/

# redshifts
[redshifts]
min : 5.9
max : 28.

# UserParam
[user_params]
HII_DIM : 128
BOX_LEN : 250
USE_FFTW_WISDOM : True
USE_INTERPOLATION_TABLES : True
FAST_FCOLL_TABLES : False
USE_RELATIVE_VELOCITIES : False
POWER_SPECTRUM : 0

# AstroParam
[astro_params]
ALPHA_ESC: -0.42
F_ESC10 : -0.99
ALPHA_STAR : 0.38
F_STAR10 : -1.29
t_STAR : 0.46
M_TURN : 8.8
L_X : 40.46
NU_X_THRESH : 500.0

# FlagOptions
[flag_options]
INHOMO_RECO : True
USE_MASS_DEPENDENT_ZETA : True
USE_TS_FLUCT : True
USE_MINI_HALOS : False
FIX_VCB_AVG : False
USE_ETHOS : False
FILTER : 0

# Parameters to vary in the Fisher analysis
[vary]
astro_params_vary :
  M_TURN
