[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    py21cmfish/_version.py,
    py21cmfish/__init__.py
    docs/source/conf.py
    docs/source/conf.py
max-line-length = 300
ignore =
  E126,
  E127,
  E128,
  E251,
	E221,
  E261,
  E226,
  E231,
  F405,
  F541,
	E701,
	E731,
	E722,
  F403
