[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    py21cmfish/_version.py,
    py21cmfish/__init__.py
    docs/source/conf.py
    docs/source/conf.py
max-line-length = 300
ignore =
	E221,
	E701,
	E731,
	E226,
	E722,
	E127
